export TF_VAR_image_name=REDHAT_7_64
export TF_VAR_master_count=1
export TF_VAR_node_count=3
export TF_VAR_proxy_count=0
export TF_VAR_vipmaster_count=0
export TF_VAR_vipproxy_count=0
export TF_VAR_dc="tor01"
export TF_VAR_hash=310
export TF_VAR_jobid=2
export TF_VAR_public=0
